#top-image{
  position:absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 800px;
  background-color: lightgray;
}

#EYP{
  position: absolute;
  left:1.8vw;
  top:2.5vh;
}

#Exceed-Your-Potencial{
  position: absolute;
  left:5.6vw;
  top:130px;
}

#first-list{
  list-style: none;
  position: absolute;
  top: 200px;
  left: 12.5vw;
}
#second-list{
  list-style: none;
  position: absolute;
  top: 450px;
  left: 12.5vw;
}

#first-row{
  margin-block-end: 20px;
}

#second-row{
  margin-block-end: 25px;
}

#third-row{
  margin-block-end: 0px;
}

#fourth-row{
  margin-block-end: 24px;
}

#manToMan-satisfaction99{
  white-space: nowrap;
}

#manToMan{
  margin: 0px 20px 0px 0px;
}