#top-image{
  width: 100vw;
  height: 66vh;
  max-height: 66.6vh;
  background-color: lightgray;
}

#EYP{
  position: absolute;
  left:1.8vw;
  top:2.5vh;
}

#Exceed-Your-Potencial{
  position: absolute;
  left:5.6vw;
  top:6.7vh;
}

#main-texts > ul{
  position: absolute;
  list-style: none;
  top: 16.7vh;
  left: 12.5vw;
}