body{
  top: 0px;
  margin: 0px 0px 0px;
  
}

#top-image{
  position:absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  min-width: 1000px;
  height: 800px;
  background-color: lightgray;
}

#EYP{
  position: absolute;
  left:1.8vw;
  top:2.5vh;
}

#Exceed-Your-Potencial{
  position: absolute;
  left:5.6vw;
  top:130px;
}

#first-list{
  list-style: none;
  position: absolute;
  top: 200px;
  left: 12.5vw;
}

#first-row{
  margin-block-end: 20px;
}

#second-row{
  margin-block-end: 25px;
}

#third-row{
  margin-block-end: 28px;
}

#fourth-row{
  margin-block-end: 24px;
}

#li-counselling-button{
  float: left;
}

.counselling-button{
  position: relative;
}

.free-counselling{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-70%);
}

.satisfaction99-li{
  float: left;
  transform:translate(20px, -140px);
}
