body{
  top: 0px;
  margin: 0px 0px 0px;
  
}

#top-main{
  position:absolute;
  top: 0px;
  left:0px;
  width: 100%;
  min-width: 1500px;
  height: 800px;
  background-color: lightgray;
}

#EYP{
  position: absolute;
  left:1.8vw;
  top:2.5vh;
}

.right-header-info{
  position: absolute;
  margin: 0px 0px 0px;
}

.phone_number{
  z-index: 10;
  top:20px;
  right:25px;
  font-weight:450;
  font-size: 30px;
  color: #f74d95;
}

.reception_time{
  z-index: 10;
  right:25px;
  top: 60px;
  font-weight: bold;
  font-size: 16px;
}

#Exceed-Your-Potencial{
  position: absolute;
  left:5.6vw;
  top:130px;
}

#first-list{
  list-style: none;
  position: absolute;
  top: 200px;
  left: 12.5vw;
}

#first-row{
  margin-block-end: 20px;
}

#second-row{
  margin-block-end: 25px;
}

#third-row{
  margin-block-end: 28px;
}

#fourth-row{
  margin-block-end: 24px;
}

#li-counselling-button{
  float: left;
}

.counselling-button{
  position: relative;
}

.free-counselling{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-70%);
}

.satisfaction99-li{
  float: left;
  transform:translate(20px, -140px);
}

.woman-ellipse{
  z-index: 0;
  transform:translate(80px, -600px);
}

.power-word{
  transform:translate(120px, -960px);
}

#why-EYP{
  position: absolute;
  z-index: 9;
  top:800px;
  left:50%;
  transform:translate(-50%,-50%);
}